.App {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.autocomplete .input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.autocomplete .input-wrapper input{
    outline: 2px solid transparent;
    outline-offset: 2px;
    flex-grow: 1;
}

.autocomplete .suggestions {
    width: 300px;
    scroll-behavior: smooth;
    max-height: 280px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}

.autocomplete .suggestions .suggestion-item {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 1px;
}

.autocomplete .suggestions .suggestion-item .text {
    display: flex;
    align-items: center;
}
